<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
.col1{
  width: 100px;
  float: left;
}
.col2{
  width: 100px;
  float: left;
}
.col3{
  width: 100px;
  float: left;
}

</style>
<body>
  <div class="col1">
    <table>
      <tr>
        <th>Q2</th>

      </tr>
      <tr>
        <td>Undergrad</td>

      </tr>
      <tr>
        <td>Postgrad</td>

      </tr>
    </table>
</div>

  <div class="col2">
    <table>
      <tr>
        <th>ResHall</th>

      </tr>
      <tr>
        <td th:text="${resunder}"></td>

      </tr>
      <tr>
        <td th:text="${respost}"></td>

      </tr>
    </table>
</div>
    <div class="col3">
    <table>
      <tr>

        <th>Apartment</th>
      </tr>
      <tr>
        <td th:text="${aptunder}"></td>

      </tr>
      <tr>
        <td th:text="${aptpost}"></td>

      </tr>
    </table>
  </div>
</body>
</html>
